.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: Eagle Lake;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/69/ec/72/69ec726dec99e6e2e936b1c0e6f38c7b.gif");
    color:rgb(133, 78, 206);
}
a {
    color:rgb(255, 2, 120);
}
img {
    width: 500px;
}
.potato{
    width: 200px;
    animation: movelikeacrab 3s ease-in-out infinite alternate;
}
@keyframes movelikeacrab {
    0%{transform:translateX(-150px);}
    25%{transform:translateY(100px);}
    50%{transform:translateX(150px);}
    75%{transform:translateY(100px);}
    100%{transform:translateX(-150px);}
}
@keyframes movelikeastrangecrab {
    0%{transform:translateX(-150px);}
    25%{transform:translateY(-100px);}
    50%{transform:translateX(150px);}
    75%{transform:translateY(-100px);}
    100%{transform:translateX(-150px);}
}
.potato2thesequel{
    width: 200px;
    animation: movelikeastrangecrab 3s ease-in-out infinite alternate;
}