.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: Knewave;
    text-align: center;
    background-color: rgb(168, 233, 168);
    color:rgb(133, 78, 206);
}
a {
    color:rgb(255, 2, 120);
}
img {
    width: 500px;
}
.potato{
    width: 200px;
    animation: e 3s ease-in-out infinite alternate;
}
@keyframes e {
    0%{rotate:initial(180);}
    25%{transform:translateY(100px);}
    50%{transform:translateX(150px);}
    75%{transform:translateY(100px);}
    100%{transform:translateX(-150px);}
}

